@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

@keyframes glowingText {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.glowing-text {
  background: linear-gradient(45deg, #8e44ad, #3498db, #2ecc71);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glowingText 10s ease infinite;
}

.container-typing {
  display: inline-block;
  width: fit-content;
}

.typing-text {
  border-right: 5px solid #d1d5db;
  letter-spacing: 5px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing-deleting 10s steps(26) infinite, cursor 0.55s step-end infinite alternate;
}

@keyframes typing-deleting {
  0% {
    width: 0;
  }
  30% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  80% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes deleting {
  to {
    width: 0;
  }
}